@use './Assets/scss/mixins';
@use './Assets/scss/vars';

body {
  @include mixins.reset;
  font-family: 'Verdana';
  font-size: 1rem;
}

#root {
  @include mixins.container
}

.error, .isInCart {
  color: red;
}